body{
    background-image: url("../imgs/1.webp");
    background-repeat: no-repeat; 
    background-size: 100% 100vh;
}

.bg-success:hover{
    background-color: green !important;
}

.bg-green{
    background-color: green;
}

h2::after{
    background-image: url();
}

h2::after{
    background-image: url();
}